.navbar {
  background-color: #212529d1;
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.bg-light {
  background-color: white !important;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.nav-item a {
  color: white;
}
#signupcolor {
  background-color: #1c9be9;
  color: white;
}
.container a {
  color: white;
}
.jumbotron img {
  height: 200px;
  padding: 2px;
  border: 0 none;
  display: inline-block;
  max-width: auto;
  vertical-align: middle;
  display: inline-block;
  list-style-type: none;
}

.jumbotron img {
  width: 33.333%;
}
